.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box {
    background-color: #444;
    color: #fff;
    font-size: 12px;
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.firstSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    flex-basis: 50%;
}

.supervisor {
    display: flex;
    justify-content: right;
}

.section_1 {
    display: flex;
}

.section_3 {
    display: flex;
}

.plus {
    width: 25px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 50%;
    height: 25px;
    color: white;
    background-color: black;
}
