.sidebar {
    grid-area: sidebar;
    background-color: #444444;
}

.sidebar2 {
    grid-area: sidebar2;
}

.footer {
    grid-area: footer;
}

.wrapper {
    background-color: #fff;
    color: #444;
    display: grid;
    grid-template-areas: "header" "sidebar" "sidebar2" "content";
}

@media screen and (max-width: 600px) {
    body {
        background-color: lightgreen;
    }

    .wrapper {
        grid-template-columns: 200px auto;
        grid-template-areas: "header   header" "sidebar  sidebar" "sidebar2 sidebar2" "content content";
    }

}

@media only screen and (min-width: 600px) {
    body {
        height: 100vh;
        margin: 0;
    }

    .wrapper {
        grid-template-columns: 200px 340px auto;
        grid-template-areas: "sidebar  header  header" "sidebar sidebar2 content ";
    }
}

.sidebar2 {
    background-color: #ccc;
    color: #444;
    height: 100vh;
}

.block {
    display: block;
    background-color: aqua;
}

.inlineBlock {
    display: inline-block;
    background-color: red;
}

.inline {
    display: inline;
    background-color: blue;
}
