.image {
    width: 50px;
    height: 48px;
    border-radius: 25px;
}

.avatar {
    display: flex;
    padding: 10px;
}

.item {
    float: right;
}

.details {
    padding: 5px 20px 0 15px;
}

.id {
    margin-left: auto;
}
