.image {
    width: 50px;
    height: 48px;
    border-radius: 25px;
}

.avatar {
    display: flex;
    padding: 10px;
}

.avatar:hover {
    background-color: #44444482;
}

.selected {
    background-color: #44444482;
}

.item {
    float: right;
}

.details {
    padding: 5px 20px 0 15px;
}

.id {
    margin-left: auto;
}

.name {
    font-weight: bold;
    font-size: 17px;
    text-transform: capitalize;
}
