.input {
    border: 2px solid #0000009c;
    width: 317px;
    margin: 40px 0 15px 12px;
    height: 30px;
    border-radius: 3px;
    font-size: 14px;
}

.input::-webkit-input-placeholder {
    padding-left: 10px;
}

.paginationBtnWrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.paginationBtnWrapper button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.workerListWrapper{
    height: calc(100% - 385px);
    overflow: auto;
}